<% if obj.errors.present? %>
	<div id ="errors">
		<h3>エラーがあります。</h3>
		<ul>
			<% obj.errors.full_messages.each do |msg| %>
			<!-- full_message: エラーを出した属性名＋メッセージを出す。 -->
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>